<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test verbose="2" preserve-order="true" name="C:/Users/Lenovo G50-70/IdeaProjects/WalletHubQA">
    <classes>
        <class name="FacebookTestSuite.FacebookPost">
            <methods><include name="FacebookPost"/></methods>
        </class>
        <class name="WalletHubTestSuite.RateTest">
            <methods><include name="Rating"/></methods>
        </class>
    </classes>
    </test>
</suite>